/* Customizes the background and text color of the jumbotron */
.jumbotron {
  background-image: url(./img/2seal.png);
  background-position:center;  
  background: linear-gradient(to bottom right, orange, yellow, rgb(87, 163, 229), cyan);
  color: #272624;
}
.jumbotron .background-images {
  display: flex;
}

.jumbotron .background-images > div {
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

/* Enhances the appearance of each top spot card */
.well {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
}

/* Styles the 'View on Google Maps' button with Bootstrap primary color */
.btn-primary {
  background-color: #337ab7;
  color: #fff;
  border-color: #2e6da4;
}

/* Additional styling for the title and description text */
.h4, p {
  margin-bottom: 15px;
}

/* Ensures the content is centered and provides a nice padding around the content */
.container {
  padding-top: 20px;
  padding-bottom: 20px;
}
