html {
  background-color: #f4f7f6; 
  height: 100%;
  box-sizing: border-box;
}

.well {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
  }
  